body {
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
}

span {
    display: block;
}

.searchBox {
    background: #DAE5F6;
    padding: 12 24;
    display: flex;
    align-items: center;
}

.searchBoxText {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #5282C3;
}

.searchBoxInput {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    background: #FFFFFF;
    border-radius: 16px;
    font-size: 12px;
    line-height: 12px;
    outline: none;
    border-width: 0;
    padding: 10 40;
    width: 600;
}

.searchBoxLoupeImg {
    margin-left: 48;
    margin-right: -25;
    z-index: 100;
}

.content {
    display: flex;
    flex-direction: column;
}

.backButton {
    margin: auto;
    margin-top: 23;
    margin-left: 40;
    background: #FFFFFF;
    border: 1px solid #5282C3;
    box-sizing: border-box;
    border-radius: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #5282C3;
    padding: 8 22;
    display: flex;
    align-items: center;
}

.backButton > img {
    margin-right: 16;
}

.allSellersText {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-top: 24;
    margin-left: 35;
}

.pagesDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24;
    margin-bottom: 32;
}

.pagesDiv > a {
    margin: auto 4;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #7A7D80;
    text-decoration: none;
}

.filterContent {
    margin-top: 32;
    display: flex;
}

.filterBox {
    margin-left: 40;
    margin-bottom: auto;
    background: #F3F5FB;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.filterBoxHeader {
    margin-top: 16;
    margin-left: 16;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.filterBoxSum {
    font-weight: 500;
    font-size: 14px;
    line-height: 12px;
    color: #5282C3;
    margin-top: 24;
    margin-left: 9;
}

.countLimitsDiv {
    display: flex;
    margin: 15 9;
    justify-content: space-between;
}

.countLimitFromDiv, .countLimitToDiv {
    display: flex;
}

.countLimitFromDiv > span, .countLimitToDiv > span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 12px;
    color: #7A7D80;
}

.countLimitFromDiv > input, .countLimitToDiv > input {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 12px;
    color: #000000;
    outline: none;
    border-width: 0;
    background: #FFFFFF;
    border-radius: 8px;
    width: 58px;
    margin-left: 8;
    text-align: center;
}

.doubleSlider {
    margin: 0 10;
    width: 219;
}

.filterCategories {
    margin-top: 30;
    margin-left: 9;
    margin-right: 9;
}

.filterCategory {
    margin-top: 40;
    display: flex;
    flex-direction: column;
}

.filterCategoryHeader {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 12px;
    color: #5282C3;
    margin-bottom: 12;
}

.checkboxDiv {
    margin: 4 0;
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    margin: 0;
    outline: none;
    border: 2px solid #5282C3;
    border-radius: 25%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 75% 75%;
}

input[type="checkbox"]:checked {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.checkboxDiv > span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 12px;
    margin-left: 8;
    color: #000000;
}

.checkboxDiv > input {
    width: 16;
    height: 16;
}

.filterSearchButtonDiv {
    margin: 66 0 23 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filterSearchButtonDiv > button {
    height: 24;
    background: #5282C3;
    border-radius: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    border-width: 0;
    width: 152;
}

.filteredItems {
    margin: auto 24;
    margin-top: -24;
    display: flex;
    flex-wrap: wrap;
}

.sortedItem {
    display: flex;
    background: #F3F5FB;
    border-radius: 12px;
    flex-direction: column;
    align-items: center;
    width: 240;
    margin: 28;
}

.sortedItemIcon {
    margin-top: 16;
    width: 120;
    height: 120;
    border-radius: 50%;
}

.sortedItemName {
    margin-top: 16;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.sortedItemSubName {
    margin-top: 4;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #7A7D80;
}

.sortedItemPrice {
    margin-top: 20;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #263238;
}

.sortedItemButton {
    margin-top: 28;
    margin-bottom: 24;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    background: #5282C3;
    border-radius: 16px;
    min-width: 152px;
    padding: 4 16;
    border-width: 0;
}