body {
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
}

span {
    display: block;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.fieldsDiv {
    margin: 24 16 0;
    background: #F3F5FB;
    border-radius: 16px;
}

.fieldHeaderText {
    margin: 24 21 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 12px;
    color: #000000;
}

.fieldHeaderShortMargin {
    margin-top: 16;
}

.fieldInput {
    margin: 8 21 0;
    width: calc(100% - 42px);
    background: #FFFFFF;
    border-radius: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    border-width: 0;
    outline: none;
    padding: 8.5 16;
}

.submitButton {
    margin: 32 auto 24;
    display: block;
    background: #5282C3;
    border-radius: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 4 16;
    min-width: 241;
    border-width: 0;
}

.fieldsDivHeader {
    margin-top: 24;
    width: 100%;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #000000;    
}

.infoFieldText {
    margin-top: 16;
    width: 100%;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #7A7D80;
}

.firstFieldsDiv {
    margin-top: 32;
}

.confirmationCodeDiv {
    display: flex;
    margin: 8 21 0;
    align-items: center;
}

.confirmationCodeInput {
    margin: 0;
    width: 37%;
}

.confirmationCodeInfoText {
    margin-left: 16;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #5282C3;
}

.confirmationCodeInfoTextUsed {
    color: #7A7D80;
}

.lastFieldsDiv {
    margin-bottom: 51;
}